<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2">
      <%= render "shared/sidenav" %>

    </div>
    <div class="col-sm-10">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">我的课表</h3>
        </div>
        <div class="panel-body" style="min-height: 450px">
          <table class="table table-striped table-hover" border="2">  <!--增加外边框 -->
            <thead>
            <tr>
              <th style="width:9%"></th>      <!--分别调整8列宽度所占比例 -->
              <th style="width:13%">周一</th>
              <th style="width:13%">周二</th>
              <th style="width:13%">周三</th>
              <th style="width:13%">周四</th>
              <th style="width:13%">周五</th>
              <th style="width:13%">周六</th>
              <th style="width:13%">周日</th>
            </tr>
            </thead>
            <tbody>
            <% courselist=Array.new(12){Array.new(8)} %>   <!--12*8数组中存放对应时间段的课程 course -->
            <% empty_or_length=Array.new(12){Array.new(8)} %>   <!--若对应时间段是某节课的第一节，则存放该课程持续时间，如9-11节则存为3；若对应时间段是某节课的非第一节，则存放固定数值1 -->
            <!--对empt_or_length数组赋值时，如周二9-11节有课，则empt_or_length[9][2]为课程持续节数：3，empt_or_length[10][2]和empt_or_length[11][2]为1，表示该时间段有课，为了实现后面的课程表跨行输出显示能够对齐 -->
                <% @course=current_user.courses %>   <!--将当前用户的选课情况 current_user.courses 传入 @course 实例变量中 -->
                <% @course.each do |course| %>     <!--对已选课程遍历，将相应计算结果填充到刚才新建的两个12*8数组中 -->
                  <% if course.course_time.length>5 %>
                    <% temp_str=course.course_time.split %>
                    <% i=temp_str[0].to_i/100%100  %>   <!--i为课程开始节次 -->
                    <% j=temp_str[0].to_i/10000  %> <!--j为课程所在星期 -->
                    <% k=temp_str[0].to_i%100 %>   <!--k为课程结束节次 -->
                    <% courselist[i][j]=course  %>   <!--将本课程存入courselist数组对应时间位置 -->
                    <% empty_or_length[i][j]=k-i+1 %>   <!--将本次课持续节数k-i+1存入empty_or_length对应时间位置，表示该位置课程持续时间 -->
                    <% m=0 %>
                    <% while k-i-m>0 do %>   <!--对本次课除第一节课其他时间位置进行操作 -->
                      <% empty_or_length[i+1+m][j]=1%>   <!--将其他时间位置赋值1 -->
                      <% m=m+1 %>
                    <% end %>
                    <% i=temp_str[1].to_i/100%100   %>
                    <% j=temp_str[1].to_i/10000   %>
                    <% k=temp_str[1].to_i%100 %>
                    <% courselist[i][j]=course   %>
                    <% empty_or_length[i][j]=k-i+1 %>
                    <% m=0 %>
                    <% while k-i-m>0 do %>
                      <% empty_or_length[i+1+m][j]=1%>
                      <% m=m+1 %>
                    <% end %>
                  <% end  %>
                  <% if course.course_time.length<=5 %>
                    <% i=course.course_time.to_i/100%100 %>
                    <% j=course.course_time.to_i/10000 %>
                    <% k=course.course_time.to_i%100 %>
                    <% courselist[i][j]=course %>
                    <% empty_or_length[i][j]=k-i+1 %>
                    <% m=0 %>
                    <% while k-i-m>0 do %>
                      <% empty_or_length[i+1+m][j]=1%>
                      <% m=m+1 %>
                    <% end %>
                  <% end %>
                <% end %>
            <% b=1 %>
            <% while b<12 do %>
              <tr>
                <td><%="第#{b}节"%></td>
              <% a=1 %>
              <% while a<8 do %>
                <% if courselist[b][a]!=nil %>   <!--当该时间是某节课的第一节时 -->
                  <% time_str1 = "第#{courselist[b][a].start_week}~#{courselist[b][a].end_week}周" %>
                  <% time_str2 = Hashes.time_to_str(courselist[b][a].course_time) %>
                  <!--跨行显示，因为已判断该时间是某节课的第一节时间，所以对应empty_or_length数组中存放的是该次课的持续节数，据此选择跨几行显示信息 -->
                  <% case empty_or_length[b][a] %>   
                    <% when 1 %>   
                    <td rowspan="1"><%=courselist[b][a].name %><br><%= time_str1 %><br><%= courselist[b][a].building+"  "+courselist[b][a].class_room %></td>
                    <% when 2 %>
                    <td rowspan="2"><%=courselist[b][a].name %><br><%= time_str1 %><br><%= courselist[b][a].building+"  "+courselist[b][a].class_room %></td>
                    <% when 3 %>
                    <td rowspan="3"><%=courselist[b][a].name %><br><%= time_str1 %><br><%= courselist[b][a].building+"  "+courselist[b][a].class_room %></td>
                    <% when 4 %>
                    <td rowspan="4"><%=courselist[b][a].name %><br><%= time_str1 %><br><%= courselist[b][a].building+"  "+courselist[b][a].class_room %></td>
                  <% end %>
                <% else %>
                  <% if empty_or_length[b][a]!=1 %>   <!--此时已判断该时间不是某节课的第一节，若对应empty_or_length数组中值不是1，则该时间是空闲时间，没有课 -->
                    <td><% %></td>
                  <% end %>
                <% end %> 
                <% a=a+1 %>
              <% end %>
              </tr>
              <% b=b+1 %>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
